body {
    font-family: Futura, Univers, Tahoma, Geneva, sans-serif;
    background: url("../images/connectwork.png") repeat;
    width: 960px;
    margin: 0 auto;
}
h1 {
    font-size: 2.5em;
    font-weight: 800;
}
p{
    font-size: 1em;
    font-weight: 300;
    padding: 5px 0;
}

#header {
    background-color: orange;
    color: white;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

#instructions {
    background-color: #0971b2;
    color: aquamarine;
    width: 750px;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
}
.column1, .scoreboard, .column3 {
    float: left
}
#playerscore, #targetscore {

}
.targetlegend {
    background-color: #FF0000;
    color: #222222;
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
    height: 30px;
}

.targetscoreboard {
    background-color: #FF0000;
    color: #222222;
    width: 300px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.scoreboard {
    background-color: darkcyan;
    color: aqua;
    text-align: center;
    width: 250px;
    height: 150px;
    margin-left: 55px;
    margin-right: 55px;
}

.playerlegend {
    background-color: #00ff48;
    color: #00B233;
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
    height: 30px;
}

.playerscoreboard {
    background-color: #00ff48;
    color: #00B233;
    width: 300px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.boardrow {
    margin-bottom: 20px;
}
ul {
    margin: 10px auto;
    text-align: center;
    clear: left;
}
li {
    display: inline;
    padding: 5px;
}